<div class="col_table">
    <div class="cell_header">Fighting Style</div>
    <div class="cell_data"> </div>
    <div class="cell_data">Melee</div>
    <div class="cell_data">Ranged</div>
    <div class="cell_data">Magic</div>
</div>
<div class="col_table">
    <div class="cell_header">Offense</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_off.total"  value="{{data.data.melee_off.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_off.total" value="{{data.data.ranged_off.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_off.total"  value="{{data.data.magic_off.total}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Defense</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_def.total" value="{{data.data.melee_def.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_def.total" value="{{data.data.ranged_def.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_def.total" value="{{data.data.magic_def.total}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Crit. Hit</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_crit.total" value="{{data.data.melee_crit.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_crit.total" value="{{data.data.ranged_crit.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_crit.total" value="{{data.data.magic_crit.total}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Extra Att.</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_extraAtt.total" value="{{data.data.melee_extraAtt.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_extraAtt.total" value="{{data.data.ranged_extraAtt.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_extraAtt.total" value="{{data.data.magic_extraAtt.total}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Cripple</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_cripple.total" value="{{data.data.melee_cripple.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_cripple.total" value="{{data.data.ranged_cripple.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_cripple.total" value="{{data.data.magic_cripple.total}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Stun</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_stun.total" value="{{data.data.melee_stun.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_stun.total" value="{{data.data.ranged_stun.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_stun.total" value="{{data.data.magic_stun.total}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Pierce</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_pierce.total" value="{{data.data.melee_pierce.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_pierce.total" value="{{data.data.ranged_pierce.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_pierce.total" value="{{data.data.magic_pierce.total}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Dodge</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_dodge.total" value="{{data.data.melee_dodge.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_dodge.total" value="{{data.data.ranged_dodge.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_dodge.total" value="{{data.data.magic_dodge.total}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Soak</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_soak.total" value="{{data.data.melee_soak.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_soak.total" value="{{data.data.ranged_soak.total}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_soak.total" value="{{data.data.magic_soak.total}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Exp</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_exp"  value="{{data.data.melee_exp}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_exp" value="{{data.data.ranged_exp}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_exp"  value="{{data.data.magic_exp}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Level</div>
    <div class="cell_data"> </div>
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_level" value="{{data.data.melee_level}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_level" value="{{data.data.ranged_level}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_level" value="{{data.data.magic_level}}"/>
</div>
<div class="col_table">
    <div class="cell_header">Tier</div>
    <div class="cell_data"> </div>                
    <input class="cell_data" type="text" data-dtype="Number" name="data.melee_tier" value="{{data.data.melee_tier}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.ranged_tier" value="{{data.data.ranged_tier}}"/>
    <input class="cell_data" type="text" data-dtype="Number" name="data.magic_tier" value="{{data.data.magic_tier}}"/>
</div>