<div class="col_table">
    <div class="cell_header">Points</div>
    <div class="cell_header">Life</div>
    <div class="cell_header">Stamina</div>
    <div class="cell_header">Mana</div>
</div>
<div class="col_table">
    <div class="cell_header">Current</div>
    <input class="cell_data" "inline-edit" type="text" data-dtype="Number" data-field="life_points.value" value="{{life_points.value}}"/>
    <div class="cell_data">{{data.stamina_points.value}}</div>
    <div class="cell_data">{{data.mana_points.value}}</div>
</div>
<div class="col_table">
    <div class="cell_header">Max</div>
    <div class="cell_data">{{data.life_points.max}}</div>
    <div class="cell_data">{{data.stamina_points.max}}</div>
    <div class="cell_data">{{data.mana_points.max}}</div>
</div>