<<<<<<< HEAD
<div class="armor-card item" data-item-id="{{_id}}">
=======
<div class="armor-card item-card item" data-id="{{_id}}">
>>>>>>> acded102f5cd7c3e757c7e74ea293d001cd26b71
    <div class="item-edit">
        <img src={{img}} title="{{data.fightingStyle}} armor (Tier {{data.tier}})" width="60" height="60">
    </div>        
</div>