<<<<<<< HEAD
<div class="weapon-card item" data-item-id="{{_id}}">
    <div class="item-edit">
        <img src={{img}} title="{{data.fightingStyle}} weapon (Tier {{data.tier}})" width="60" height="60">
    </div>        
</div>
=======
<div class="weapon-card item-card item">
    <div class="weapon-stats">
        <img src={{img}} alt="WILL HAVE STATS HERE" width="60" height="60">
        <p></p>
        {{#if (compare data.fightingStyle "==" "melee")}}Mel.Off.: {{data.melee_off}}{{/if}}
        {{#if (compare data.fightingStyle "==" "ranged")}}Rng.Off.: {{data.ranged_off}}{{/if}}
        {{#if (compare data.fightingStyle "==" "magic")}}Mag.Off.: {{data.magic_off}}{{/if}}
    </div>
</div> 
>>>>>>> acded102f5cd7c3e757c7e74ea293d001cd26b71
