<div class="equipment_slot">
    {{#if cape}}
    {{#each cape as |item id|}}{{> "systems/intersection/templates/partials/accessory_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/cape.png" title="Cape" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    {{#if helm}}
    {{#each helm as |item id|}}{{> "systems/intersection/templates/partials/accessory_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/helm.png" title="Helm" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    <img src="systems/intersection/templates/sheets/images/backpack.png" title="Backpack" width="60" height="60">
</div>

<div class="equipment_slot">
    {{#if mainHand}}
    {{#each mainHand as |item id|}}{{> "systems/intersection/templates/partials/weapon_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/hand1.png" title="Weapon" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    {{#if armor}}
    {{#each armor as |item id|}}{{> "systems/intersection/templates/partials/armor_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/armor.png" title="Armor" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    {{#if offHand}}
    {{#each offHand as |item id|}}{{> "systems/intersection/templates/partials/weapon_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/hand2.png" title="Weapon/Shield" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    {{#if gloves}}
    {{#each gloves as |item id|}}{{> "systems/intersection/templates/partials/accessory_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/gloves.png" title="Gloves" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    {{#if boots}}
    {{#each boots as |item id|}}{{> "systems/intersection/templates/partials/accessory_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/boots.png" title="Boots" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    <img src="systems/intersection/templates/sheets/images/belt.png" title="Belt" width="60" height="60">
</div>

<div> </div>
<div> </div>
<div> </div>

<div class="equipment_slot">
    {{#if charm1}}
    {{#each charm1 as |item id|}}{{> "systems/intersection/templates/partials/jewelry_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/charm.png" title="Charm 1" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    {{#if amulet}}
    {{#each amulet as |item id|}}{{> "systems/intersection/templates/partials/jewelry_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/amulet.png" title="Amulet" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    {{#if charm2}}
    {{#each charm2 as |item id|}}{{> "systems/intersection/templates/partials/jewelry_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/charm.png" title="Charm 2" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    {{#if ring1}}
    {{#each ring1 as |item id|}}{{> "systems/intersection/templates/partials/jewelry_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/ring.png" title="Ring 1" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    <img src="systems/intersection/templates/sheets/images/spellbook.png" title="Spellbook" width="60" height="60">
</div>

<div class="equipment_slot">
    {{#if ring3}}
    {{#each ring3 as |item id|}}{{> "systems/intersection/templates/partials/jewelry_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/ring.png" title="Ring 2" width="60" height="60">
    {{/if}}
</div>

<div class="equipment_slot">
    {{#if ring2}}
    {{#each ring2 as |item id|}}{{> "systems/intersection/templates/partials/jewelry_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/ring.png" title="Ring 3" width="60" height="60">
    {{/if}}
</div>

<div> </div>

<div class="equipment_slot">
    {{#if ring4}}
    {{#each ring4 as |item id|}}{{> "systems/intersection/templates/partials/jewelry_card.hbs" item}}{{/each}}
    {{else}}
    <img src="systems/intersection/templates/sheets/images/ring.png" title="Ring 4" width="60" height="60">
    {{/if}}
</div>