<div class="skill-card item-card">
    <div class="item-edit item" data-id="{{_id}}">
        "prout"
        {{type}}
        {{data.tier}}
        {{data.cost_SP}}
        {{data.description}}
    </div>
</div>