<div class="points_table">
    
    <div class="cell_header">Points</div>
    <div class="cell_header">Current</div>
    <div class="cell_header">Max</div>
    <div class="cell_header"> </div>
    <div class="cell_header">Style</div>
    <div class="cell_header">Offense</div>
    <div class="cell_header">Defense</div>
    <div class="cell_header">Level</div>


    <div class="cell_data">Life</div>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.life_points.value}}"/>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.life_points.max}}"/>
    <div class="cell_data"> </div>
    <div class="cell_data">Melee</div>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.melee_off.total}}"/>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.melee_def.total}}"/>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.melee_level}}"/>


    <div class="cell_data">Stamina</div>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.stamina_points.value}}"/>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.stamina_points.max}}"/>
    <div class="cell_data"> </div>
    <div class="cell_data">Ranged</div>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.ranged_off.total}}"/>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.ranged_def.total}}"/>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.ranged_level}}"/>


    <div class="cell_data">Mana</div>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.mana_points.value}}"/>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.mana_points.max}}"/>
    <div class="cell_data"> </div>
    <div class="cell_data">Magic</div>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.magic_off.total}}"/>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.magic_def.total}}"/>
    <input class="cell_data" type="number" data-dtype="Number" value="{{data.data.magic_level}}"/>

</div>