<div id="actor_sheet_tab_main" class="tab_main actor_sheet_tab"> 
 
    <div class="equipment_table">
        {{> "systems/intersection/templates/partials/actor_equip_table.hbs"}}
    </div>

    <div class="skills_table">
        <div class="cell_header">Skill</div>
        <div class="cell_header">Tier</div>
        <div class="cell_header">Cost</div>
        <div class="cell_header">Description</div>
        <div class="cell_header">Used?</div>
        
        {{#each skills as |skill id|}}
        <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="name">{{skill.name}}</div>
        <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="data.tier">{{skill.data.tier}}</div>
        <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="data.cost_SP">{{skill.data.cost_SP}}</div>
        <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="data.description">{{skill.data.cost_SP}}</div>
        <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="data.used">lol</div>
        {{/each}}
    </div>
</div>