<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-content">

        <div class="summary_table">
            <div class="col_table">
                <h1 style="text-align: center;"><div>{{actor.name}}</div></h1>
                <div class="cell_data">Anti-Mage (level 27)</div>
                <div class="cell_data">Omnipotent Sociopath</div>
                <div class="cell_data">514-967-6812</div>
            </div>
        </div>

        <div class="tombstone">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"  width="120" height="120"/>
        </div>

        <div class="points_table">
            {{> "systems/intersection/templates/partials/actor_points_table.hbs"}}
        </div>     

        <div class="stats_table">
            {{> "systems/intersection/templates/partials/actor_stats_table.hbs"}}
        </div>

        <div class="equipment_table">
            {{> "systems/intersection/templates/partials/actor_equip_table.hbs"}}
        </div>

        <div class="skills_table">
            <div class="cell_header">Skill</div>
            <div class="cell_header">Tier</div>
            <div class="cell_header">Cost</div>
            <div class="cell_header">Description</div>
            <div class="cell_header">Used?</div>
            
            {{#each skills as |skill id|}}
            <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="name">{{skill.name}}</div>
            <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="data.tier">{{skill.data.tier}}</div>
            <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="data.cost_SP">{{skill.data.cost_SP}}</div>
            <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="data.description">{{skill.data.cost_SP}}</div>
            <div class="cell_data item skill" data-itemID="{{skill.id}}" data-field="data.used">X</div>
            {{/each}}
        </div>
    </div>
    <div>{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}</div>
</form>
