<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">

        <ol class="effects-list">
            <li class="effect flexrow effect-header">
                <div class="effect-name">List of Effects</div>
                <div class="effect-controls">
                    <a class="effect-control" data-action="create" title="Add Effect"><i class="fas fa-plus"></i>Add Effect</a>
                </div>
            </li>
            {{#each item.effects as |effect id|}}
            <li class="effect flexrow" data-effect-id="{{effect._id}}">
                <h4 class="effect-name">{{effect.label}}</h4>
                <div class="effect-controls">
                    <a class="effect-control" data-action="edit" title="Edit Effect">
                        <i class="fas fa-edit"></i></a>
                    <a class="effect-control" data-action="delete" title="Delete Effect">
                        <i class="fas fa-trash"></i></a>
                </div>
            </li>
            {{/each}}
            
        </ol>

    </div>
</form>
